langchain==0.0.201
gpt4all==0.3.3
chromadb==0.3.26
# llama-cpp-python must stay on this version, otherwise LlamaCpp models do not work
llama-cpp-python==0.1.48
urllib3==2.0.3
pdfminer.six==20221105
python-dotenv==1.0.0
unstructured==0.7.4
extract-msg==0.41.5
tabulate==0.9.0
pandoc==2.3
pypandoc==1.11
tqdm==4.65.0
openai==0.27.8
psutil==5.9.5
gooddata_pandas==1.3.1.dev5
pyyaml>=5.1
sentence_transformers==2.2.2
streamlit==1.23.1
streamlit-chat==0.0.2.2
matplotlib==3.7.1
jupyter==1.0.0
pdf2image==1.16.3
tiktoken==0.4.0
